@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

.trending {
  overflow: hidden;
  padding-left: $padding * 1.6;

  @include mobile {
    padding-left: $padding * 2.4;
  }

  @include tablet {
    padding-left: $padding * 3.6;
  }

  &__container {
    @include flex;

    padding-top: $padding * 1.6;
    column-gap: $gap * 1.6;

    @include mobile {
      padding-top: $padding * 2.5;
      column-gap: $gap * 4;
    }
  }
}
