@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.trending {
  grid-area: trending;
  overflow: hidden;

  &__container {
    @include flex;

    padding-top: $padding * 2.5;
    column-gap: $gap * 4;
  }
}
