@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

.header {
  padding-left: 0;
  padding-right: 0;

  @include mobile {
    padding-left: $padding * 2.4;
    padding-right: $padding * 2.4;
  }

  @include tablet {
    padding-left: $padding * 3.2;
    padding-right: 0;
  }
}
