@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.main {
  display: $d-grid;
  grid-template-areas:
    'nav form'
    'nav movies';
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto 1fr;
  column-gap: $gap * 3.6;
  padding: $padding * 3.2 $padding * 3.6 0 $padding * 3.2;

  &__home {
    grid-template-areas:
      'nav form'
      'nav trending'
      'nav movies';
  }
}
