@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

.main {
  position: relative;
  display: $d-grid;
  grid-template-rows: auto auto 1fr;
  row-gap: $gap * 2.4;

  @include mobile {
    row-gap: $gap * 3.4;
  }
}
