@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

.nav {
  @include flex($align-items: $center, $justify-content: space-between);

  padding: 0 $padding * 1.6 0 $padding * 2.4;
  grid-area: nav;
  background-color: $clr-semi-dark-blue;
  width: 100%;
  height: 7.2rem;
  border-radius: $border-large;

  @include tablet {
    display: $d-grid;
    grid-template-rows: auto 1fr auto;
    align-items: unset;
    width: 9.6rem;
    height: 100vh;
    justify-content: $center;
    padding: $padding * 3.5 0;
  }

  div {
    @include flex($align-items: $center);

    @include tablet {
      @include flex($flex-direction: $column, $align-items: $center);
    }
  }

  &__logo {
    margin-bottom: 0;

    @include tablet {
      margin-bottom: $margin * 7.5;
    }
  }

  &__links {
    @include flex($align-items: $center);

    column-gap: $gap * 3.2;

    @include tablet {
      @include flex($flex-direction: $column, $align-items: $center);

      row-gap: $gap * 4;
    }

    svg {
      transition: fill $transition;
      fill: $clr-greyish-blue;

      @include hover() {
        &:hover {
          fill: $clr-red;
        }
      }
    }

    &-active {
      svg {
        fill: $clr-white;
      }
    }
  }

  &__avatar {
    align-self: $center;
    background: transparent;

    @include tablet {
      align-self: $end;
    }
  }
}
