@use '@/styles/variables' as *;
@use '@/styles/breakpoints' as *;

.image-container {
  width: 4rem;
  height: 4rem;
  position: $p-relative;
  border-radius: $border-round;
  border: 1px solid $clr-white;
}
