@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/breakpoints' as *;

.movie {
  position: $p-relative;

  &__image {
    position: $p-relative;
    display: $d-grid;
    height: 11rem;
    cursor: pointer;
    transition: filter $transition;
    padding: $padding * 1.6;
    border-radius: $border-small;
    overflow: hidden;

    @include mobile {
      height: 14rem;
    }

    @include tablet {
      height: 17.4rem;
    }

    img {
      transition: opacity $transition;
    }

    @include hover() {
      &:hover {
        img {
          opacity: 0.5;
        }

        .movie__play {
          opacity: 1;
        }
      }
    }
  }

  &__darken {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.01) 80%,
      rgba(0, 0, 0, 0.75) 100%
    );
    z-index: 2;
    @include absolute($top: 0, $bottom: 0, $right: 0, $left: 0);
  }

  &__bookmark {
    z-index: 5;

    @include absolute($right: 1.6rem, $top: 1.6rem);
  }

  &__toast {
    background-color: $clr-greyish-blue !important;
    color: $clr-white;
    font-family: inherit;
    font-size: $fsz-s;
    font-weight: $fw-light;

    button {
      color: $clr-white;
      opacity: 1;
    }
  }

  &__play {
    z-index: 5;
    align-self: $center;
    justify-self: $center;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    opacity: 0;
    transition: opacity $transition;

    svg {
      transition: opacity $transition;
      path {
        transition: opacity $transition;
      }
    }
  }
}

.image__trending {
  width: 47rem;
  height: 23rem;
}

.bookmark__trending {
  right: 2.4rem;
}

.description__trending {
  @include absolute($bottom: 2.4rem, $left: 2.4rem);
  z-index: 3;
}
