@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.play {
  @include flex($align-items: $center);

  width: 12rem;
  column-gap: $gap * 2;
  padding: $padding * 0.9 0 $padding * 0.9 $padding * 0.9;
  background-color: rgba($clr-white, 0.25);
  color: inherit;
  border-radius: 2.8rem;
  cursor: pointer;
  border: none;
  outline: none;
}
