@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.form {
  margin-top: $margin * 5;
  margin-right: $margin * 3.6;

  label {
    display: flex;
    align-items: center;
    column-gap: $gap * 2.4;
  }

  button {
    background: transparent;
    cursor: pointer;
    border: none;
  }

  input {
    caret-color: $clr-red;
    background-color: transparent;
    border: none;
    outline: none;
    color: $clr-white;
    font-family: inherit;
    padding-bottom: $padding * 1.5;
    padding-top: $padding * 1.5;
    width: $width-base;

    &::placeholder {
      font-family: inherit;
    }

    &:focus {
      border-bottom: 1px solid $clr-greyish-blue;
    }
  }
}
