@use 'variables' as *;
@use 'mixins' as *;

@keyframes #{$rt-namespace}__bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    @include timing-function;
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}

@keyframes #{$rt-namespace}__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-2rem, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(200rem, 0, 0);
  }
}

@keyframes #{$rt-namespace}__trackProgress {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.#{$rt-namespace}__bounce-enter {
  &--top-right {
    animation-name: #{$rt-namespace}__bounceInRight;
  }
}

.#{$rt-namespace}__bounce-exit {
  &--top-right {
    animation-name: #{$rt-namespace}__bounceOutRight;
  }
}
