@use 'variables' as *;
@use 'mixins' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-base;
  background-color: $clr-dark-blue;
  color: $clr-white;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;

  &:focus {
    outline-offset: 5px;
    outline: 3px dotted $clr-red;
  }
}

ul {
  list-style: none;
}

button:focus {
  outline-offset: 5px;
  outline: 3px dotted $clr-red;
}

.section-loading {
  padding-top: 10rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  box-shadow: inset 0 0 10px $clr-greyish-blue;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: $clr-red;
}

// .toast {
//   color: $clr-dark-blue;

//   button {
//     color: $clr-dark-blue;
//   }

//   &__body {
//     font-size: $fsz-s;
//     column-gap: $gap * 2;

//     svg {
//       fill: $clr-red;
//     }
//   }

//   &__progress {
//     background: $clr-red !important;
//   }
// }

.loading {
  width: 8rem;
  height: 8rem;
}
