@use './variables' as *;
@use './mixins' as *;
@use './breakpoints' as *;

.heading-l {
  @include font(
    $font-size: 2rem,
    $font-weight: $fw-light,
    $line-height: 2.5rem
  );

  letter-spacing: -0.3px;

  @include mobile {
    @include font($font-size: $fsz-xl, $line-height: $lh-base);

    letter-spacing: -0.5px;
  }
}

.heading-m {
  @include font(
    $font-size: $fsz-m,
    $font-weight: $fw-light,
    $line-height: $lh-base
  );

  @include mobile {
    font-size: $fsz-l;
  }
}

.heading-s {
  @include font(
    $font-size: 1.5rem,
    $font-weight: $fw-medium,
    $line-height: 1.9rem
  );

  @include mobile {
    font-size: $fsz-l;
    line-height: $lh-base;
  }
}

.heading-xs {
  @include font(
    $font-size: $fsz-s,
    $font-weight: $fw-medium,
    $line-height: 1.8
  );

  @include mobile {
    font-size: $fsz-m;
    line-height: $lh-base;
  }
}

.body-m {
  @include font(
    $font-size: 1.2rem,
    $font-weight: $fw-light,
    $line-height: $lh-base
  );

  @include mobile {
    font-size: $fsz-s;
  }
}

.body-s {
  @include font(
    $font-size: $fsz-xs,
    $font-weight: $fw-light,
    $line-height: $lh-base
  );

  color: rgba($clr-white, 0.75);
}
