/*** Font ***/
$clr-dark-blue: #10141e;
$clr-semi-dark-blue: #161d2f;
$clr-white: #fff;
$clr-red: #fc4747;
$clr-greyish-blue: #5a698f;

/*** Font ***/
$font-base: 'Outfit', sans-serif;

$fsz-xl: 3.2rem;
$fsz-l: 2.4rem;
$fsz-m: 1.8rem;
$fsz-s: 1.5rem;
$fsz-xs: 1.3rem;

$fw-light: 300;
$fw-medium: 500;

$lh-base: 1.25;

/** Display **/
$d-grid: grid;
$d-flex: flex;

$center: center;
$start: flex-start;
$end: flex-end;

$column: column;
$row: row;

/** Space **/
$gap: 1rem;
$margin: 1rem;
$padding: 1rem;

/** Position **/
$p-relative: relative;
$p-absolute: absolute;
$p-fixed: fixed;

/** Width Height **/
$width-base: 100%;
$height-base: 100%;

/** Border Radius **/
$border-xsmall: 0.6rem;
$border-small: 0.8rem;
$border-large: 2rem;
$border-round: 50%;

/** Animation **/
$transition: 0.2s ease-in;

/** Toastify **/
$rt-namespace: 'Toastify';
